<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Palladio Kubernetes"
            id="org.palladiosimulator.experimentautomation.kubernetesclient">
      </category>
      <view
            id="org.palladiosimulator.experimentautomation.kubernetesclient.views.KubernetesView"
            name="Kubernetes View"
            icon="icons/sample.png"
            class="org.palladiosimulator.experimentautomation.kubernetesclient.views.KubernetesView"
            category="org.palladiosimulator.experimentautomation.kubernetesclient"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.palladiosimulator.experimentautomation.kubernetesclient.views.KubernetesView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
